<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tranced.twtquestionaire">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:theme="@style/AppTheme">
        <activity
            android:name=".trash.TrashActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".star.StarActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".quiz.QuizEditorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".VoteTypeSelectionActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".vote.VoteEditorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".editor.SortEditor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".editor.ParagraphEditor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".editor.RatingEditor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".editor.BlankEditor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".participated.ParticipatedActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".created.CreatedActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".quiz.NewQuizActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".editor.MultipleChoiceEditor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".vote.NewVoteActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".editor.SingleChoiceEditor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".questionaire.QuestionairePreviewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TypeSelectionActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".questionaire.QuestionaireEditorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".questionaire.NewQuestionaireActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>