<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tranced.twtquestionaire">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".vote.VoteEditorActivity"></activity>
        <activity android:name=".questionaire.editor.SortEditor" />
        <activity android:name=".questionaire.editor.ParagraphEditor" />
        <activity android:name=".questionaire.editor.RatingEditor" />
        <activity android:name=".questionaire.editor.BlankEditor" />
        <activity
            android:name=".participated.ParticipatedActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".created.CreatedActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".quiz.NewQuizActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".questionaire.editor.MultipleChoiceEditor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".vote.NewVoteActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".questionaire.editor.SingleChoiceEditor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".questionaire.QuestionairePreviewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".questionaire.QuestionaireTypeSelectionActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".questionaire.QuestionaireEditorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".questionaire.NewQuestionaireActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>